# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\resource\IdeaProjects\Distributed Shared White Board\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
